html {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

body {
    scroll-behavior: smooth;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #7c7b7b;
    background: #181819;
    /* background: #e9e9f1; */
}


/* Global */
::selection{
    background: unset;
    color: darkslategrey;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.margin-10{
    margin: 10px;
}

.href-no-deco{
    text-decoration: none;
    color: inherit;
}

.hover-text:hover{
    color: #ffffffcc;
    transform: translateX(1%);
    /* text-decoration: underline; */
}

.transition{
    transition: all 0.4s ease-in-out;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

/* Header */
#header{
    filter: invert(100%);
    top: 0;
    color: black;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 4.0em;
    /* background-image: url(https://i.loli.net/2018/05/15/5af9d08952f98.jpg); */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg jsname='BUfzDd' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 810' preserveAspectRatio='xMinYMin slice' aria-hidden='true'%3e%3cpath fill='%23efefee' d='M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z' /%3e%3cpath fill='%23f6f6f6' d='M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z' /%3e%3cpath fill='%23f7f7f7' d='M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z' /%3e%3cpath fill='%23fbfbfc' d='M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z' /%3e%3cpath fill='%23ebebec' d='M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z' /%3e%3cpath fill='%23e1e1e1' d='M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z' /%3e%3cpath fill='%23e7e7e7' d='M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z' /%3e%3c/svg%3e");
    background-position: left top;
    background-color: white;
    background-size: cover;
    /* box-shadow: 0px 0px 0px 9px white inset; */
}

#header-text-sub{
    opacity: 0.7;
    padding-top: 22px;
    font-size: 0.35em;
}

/* Section 1 */
#section-1{
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    /* height: calc(100% - 320px); */
    /* height: 170px; */
    height: 210px;
}

#section-1-text-1{
    display: flex;
    flex-direction: column;
}

/* Section 2 */
#section-2{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: max-content;
    width: 100%;
}

.section-2-child{
    opacity: 0.7;
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 400px;
}

.section-2-child:hover{
    opacity: 1;
    transform: scale(1.02);
    z-index: 1;
}

/* Splash Screen */
.splash{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #181819;
    color: lightgray;
}

.splash-progress{
    width: 240px;
    height: 1px;
    background: #1f1f1f;
}

#splash-progress-overlay{
    position: fixed;
    animation: flash 2s infinite;
    background: darkgray;
}

/* Message Toast */
.message{
    z-index: 9999;
    opacity: 0;
    padding-left: 50px;
    font-size: 0.9em;
    color: #7c7b7b;
    position: fixed;
    justify-content: left;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #191919;
    box-shadow: 0px 0px 9px 2px black;
}

/* Animations */
@keyframes flash{
    from {opacity: 0}
    48% {opacity: 1}
    52% {opacity: 1}
    to {opacity: 0}
}
