html {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

body {
    scroll-behavior: smooth;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #7c7b7b;
    /* background: #181819; */
    background: #e9e9f1;
}


/* Global */
::selection{
    background: unset;
    color: darkslategrey;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.margin-10{
    margin: 10px;
}

.href-no-deco{
    text-decoration: none;
    color: inherit;
}

.hover-text:hover{
    color: #000;
    text-decoration: underline;
}

.transition{
    transition: all 0.4s ease-in-out;
}

.cursor-pointer{
    cursor: pointer;
}

/* Header */
#header{
    top: 0;
    color: black;
    flex-direction: column;
    width: 100vw;
    height: 320px;
    text-align: center;
    font-size: 4.0em;
    background-image: url(https://i.loli.net/2018/05/15/5af9d08952f98.jpg);
    background-position: left top;
    /* box-shadow: 0px 0px 0px 9px white inset; */
}

#header-text-sub{
    opacity: 0.7;
    padding-top: 22px;
    font-size: 0.35em;
}

/* Section 1 */
#section-1{
    margin-left: 50px;
    margin-right: 50px;
    height: calc(100% - 320px);
}

#section-1-text-1{
    font-size: 0.74em;
    text-decoration: underline;
    transform: rotate(-90deg);    
}

#section-1-text-2{
    display: flex;
    flex-direction: column;
}

/* Section 2 */
#section-2{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: max-content;
    width: 100%;
}

.section-2-child{
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 400px;
}

/* Splash Screen */
.splash{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #181819;
    color: lightgray;
}

.splash-progress{
    width: 240px;
    height: 1px;
    background: #1f1f1f;
}

#splash-progress-overlay{
    position: fixed;
    animation: flash 2s infinite;
    background: darkgray;
}

/* Message Toast */
.message{
    opacity: 0;
    padding-left: 50px;
    font-size: 0.9em;
    color: #7c7b7b;
    position: fixed;
    justify-content: left;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #191919;
    box-shadow: 0px 0px 9px 2px black;
}

/* Animations */
@keyframes flash{
    from {opacity: 0}
    48% {opacity: 1}
    52% {opacity: 1}
    to {opacity: 0}
}
